.wrapper {
  display: flex;
  flex-direction: column;
}

.flash-sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}

.flash-sale-label {
  display: flex;
  align-items: center;
}

.flash-sale-label .fa-bolt {
  margin-right: 0.5rem;
}

.timer {
  display: flex;
  gap: 0.25rem;
}

.timer span {
  display: inline-block;
  padding: 0 0.25rem;
  background-color: #2c2c2c; /* Màu đen cho số */
  border-radius: 0.25rem;
}

// Sale Item

.sale-items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  margin: 10px 0;
  max-width: 100%;
  white-space: nowrap;
}

.sale-item-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 172px;
  height: 170px;
  background-color: var(--white-color);
  margin-top: 10px;
  border-radius: 5px;
  padding: 8px;
}

.profile-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.rate {
  position: absolute;
  top: 0;
  left: 35px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--black-color);
  padding: 0 5px;
  border-radius: 5px;

  .star {
    width: 11px;
    height: 11px;
  }
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.shift {
  color: #1a3c44;
}

.name,
.shift-time {
  text-align: start;
  margin-top: 5px;
}

.name,
.age,
.shift,
.shift-time {
  font-size: 1.4rem;
}

.shift-time {
  opacity: 0.7;
}

.price-section {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1.4rem;
  margin: 5px 0;
}

.sale-price {
  color: #ff4444;
}

.list-price {
  color: #7a7a7a;
  text-decoration: line-through;
  margin-left: 8px;
  margin-bottom: 4px;
}

.order-btn {
  width: 80px;
  height: 26px;
  margin: 0 auto;
  padding: 4px 8px;
  font-size: 1.2rem;
  color: var(--white-color);
  border-radius: 5px;
  background-color: var(--black-color);

  &:hover {
    cursor: pointer;
    background-color: var(--primary-color-bold);
  }
}

// See more button
.more-btn {
  display: block;
  background-color: transparent;
  text-align: center;
  line-height: 160px;
  font-size: 1.4rem;
  color: #4c4c4c;
  cursor: pointer;
  margin: 10px 0;
}

.see-more-icon {
  margin-left: 5px;
}
