.history-tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.tab {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 20px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--history-tab-text-color);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    color: var(--history-tab-active-color);
  }

  &.active {
    color: var(--history-tab-active-color);
    border-bottom: 2px solid var(--history-tab-active-color);
  }
}

.tab-content {
  margin-top: 20px;
  padding: 20px;
  min-height: 100px;
}
