.wrapper {
  font-family: Arial, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  background: url("../../assets/Images/bg_header_booking_teal_white.png")
    no-repeat;
  background-size: contain;
  // background-color: var(--primary-color);
  overflow-y: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 60px;
}

@media screen and (max-width: 1170px) {
  .wrapper {
    max-width: 100%;
  }
}
